*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

/* BODY */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
    width: 100%
}

/* Header*/

.main-header{
    background-color: var(--amarillo);
    padding: 18px;
    width: 100%;
}

.main-header-top-bar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.buscador{
    display: flex;
    align-items: center;
}

.buscador input{
    padding: 7px;
    font-size: 12px;
    height: 70%;
    width:90%;
    border: none;
    border-right: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#lupa{
    background-color: white;
    font-size: 12px;
    color: gray;
    width: 10%;
    padding: 8px 0;
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.copy-header{
    display: block;
    font-size: 12px;
    padding: 15px;
    text-align: center;
    font-weight: 400;
}

.burguer-menu{
    background-color: var(--azul);
    color: white;
    display: block;
    max-width: 40px;
    padding: 8px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}


.logo{
    width: 50%;
    padding: 2px;
}

#banner{
    width: 100%;
    display: flex;
}

/*MAIN*/

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 3px;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    padding: 5px;
    font-size: 10px;
}

/*MAIN*/

.tarjeta{
    margin-bottom: 10px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

h2.titulares{
    justify-items: center;
    font-size: 18px;
    padding: 20px;
}

.titulares{
    text-align: center;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
    align-items: center;
}

main section article div,
.main-articulo{
    position: relative;
}

main section article i{
    color: var(--verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -15px
}

article div,
.main-articulo{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-top: solid  1px #ebebeb;
}

p.precios{
    font-size: 18px;
}

p.oferta {
    display: block;
    font-size: 16px;
    margin: auto;
    color: var(--verde)
}

h4.descripcion{
    color: var(--gris-oscuro);
    font-weight: 300;
    margin-bottom: 0px;
}


/* FOOTER*/

footer{
    background-color: #FFF;
    width: 100%;
    margin: 0 auto
}

footer section.main-footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}


section article.menu-footer{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

section.subfooter{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 200;
    border-top: solid 1px var(--gris-oscuro);
    padding: 3px;
    text-align: center;;
}

#iconos{
    font-size: 2em;
    padding: 2px;
    margin-top: 5px;
    color: var(--azul);
}

.cuerpo-texto{
    font-size: 12px;
}


/*FORMULARIOS*/

.formulario-registro{
    display: block;
    padding: 20px 10px;
}
.control-formulario{
    margin: 10px 0;
}

.control-formulario label{
    font-weight: bold;
    font-size: 14px;
}

.control{
    width: 100%;
    padding: 5px;
    border: var(--gris-claro);
    border-radius: 5px;
    font-size: 12px;
    margin: 7px 0
}

.control-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-check input{
    width: 14px;
    margin: 0px 5px;
    padding: 5px;
}
.control-check div label{
    width: 14px;
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
}

.control-boton{
    display: flex;
    align-items: center;
}

.boton-enviar{
    background-color: var(--azul);
    width: 50%;
    color: var(--gris-claro);
    font-size: 12px;
    padding: 5px 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.boton-borrar{
    background-color: rgb(134, 20, 20, 0.8);
    width: 50%;
    color: var(--gris-claro);
    font-size: 12px;
    padding: 5px 5px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

/*MEDIAQUARIES*/

@media (min-width: 426px){
    .buscador{
        width: 200px;
    }

    .burguer-menu{
        margin-top: 20px;
    }

    section.main-header-top{
        display: flex;
        align-items: center;
    }

    .main-header-top-bar{
        width: 70%;
    }

    .logo{
        margin: 10px;
        width: 50%;
    }
    
    div.copy-header{
        display: flex;
        width: 100%;
    }

    .copy-header{
        margin-top: 10px;
        padding: 0;
    }
    
    main section.productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    main section article,
    .tarjeta{
        width: 40%;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /*Formularios*/


}

@media (min-width: 520px){
    .logo{
        width: 40%;
    }

    .buscador{
        width: 200px;
    }
    
    .burguer-menu{
        display: none;
    }

    .main-navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-navbar ul{
        align-items: center;
        display: flex;
        padding-top: 7px;
    }

    .main-navbar li{
        margin: 3px;
        flex-wrap: wrap;
    }

    .main-navbar a{
        padding: 3px;
    }
}

@media (min-width: 760px){
    .logo{
        width: 30%;
        margin-right: 5px;
    }

    .buscador{
        width: 400px;
        margin-right: 20px;
    }

    .buscador input{
        padding: 9px;
        font-size: 15px;
    }
    
    #lupa{
        font-size: 14px;
        padding: 11px 0;
    }

    div.copy-header{
        text-align: right;
        align-items: flex-end;
    }

    .copy-header{
        font-size: 16px;
    }

    .main-header-top-bar{
        margin: 5px 20px;
        align-items: center;
    }
    .main-navbar{
        margin: 0 20px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-navbar a{
        padding: 7px;
        font-size: 15px;
    }

    section article,
    .productos{
        display: flex;
        flex-wrap: none;
        justify-content: space-between;
    }
    
    main section article,
    .tarjeta{
        max-width: 20%;
        padding: 10px;
        margin: auto;
    }
    
    .menu-footer h4{
        padding: 10px
    }

    .menu-footer p{
        font-size: 15px;
        line-height: 26px;
    }

    footer section.main-footer{
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
    }

    article.menu-footer{
        max-width: 40%;
        padding: 10px;
    }

    main .formulario-registro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control-formulario{
        width: 50%;
    }

    .formulario-registro div label{
        display: flex;
        font-size: 16px;

    }

    .control{
        font-size: 14px;
    }

    .control-check div{
        display: flex;
        flex-direction: row;
        padding: 5px 0px;
    }

    .control-check div label{
        font-size: 14px;
    }

    div.control-boton{
        margin: 0;
        width: 40%;
        justify-content: space-around;
    }

    .boton-enviar{
        font-size: 16px;
        padding: 10px 5px;
    }
    .boton-borrar{
        font-size: 16px;
        padding: 10px 5px;
    }

}

/*////////////////////////////////////////////////
@keyframes {
    0%{
        transform: rotate(0deg);
    }
    100%{
       transform: rotate(260deg) scale(1.3); 
    }
}
*/






