*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

/* BODY */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
    width: 100%
}

/* Header*/

.main-header{
    background-color: var(--amarillo);
    padding: 5px;
    width: 100%;
}

.copy-header{
    padding: 10px;
    text-align: center;
}


.burguer-menu{
    background-color: var(--azul);
    color: white;
    display: block;
    max-width: 50px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo{
    width: 200px;
}

.copy-header{
    font-size: 17px;
    font-weight: 350;
    align-items: center;
}

#lupa{
    background-color: white;
}

#banner{
    width: 100%;
    display: flex;
}

/*MAIN*/

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 5px;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    padding: 5px;
    font-size: 12px;
}

/*MAIN*/

.tarjeta{
    margin-bottom: 10px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

h2.titulares{
    justify-items: center;
    font-size: 24px;
    padding: 20px;
}

.titulares{
    text-align: center;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
    align-items: center;
}

main section article div,
.main-articulo{
    position: relative;
}

main section article i{
    color: var(--verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -15px
}

article div,
.main-articulo{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-top: solid  1px #ebebeb;
}

p.precios{
    font-size: 18px;
}

p.oferta {
    display: block;
    font-size: 16px;
    margin: auto;
    color: var(--verde)
}

h4.descripcion{
    color: var(--gris-oscuro);
    font-weight: 300;
    margin-bottom: 0px;
}


/* FOOTER*/
footer{
    width: 90%;
    margin: 0 auto
}

footer section.main-footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}


section article.menu-footer{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

section.subfooter{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 200;
    border-top: solid 1px var(--gris-oscuro);
    padding: 3px;
}

#iconos{
    font-size: 2em;
    padding: 2px;
    margin-top: 5px;
    color: var(--celeste);
}

.cuerpo-texto{
    font-size: 12px;
}

/*MEDIAQUARIES*/

@media (min-width: 426px){

    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-navbar ul{
        align-items: center;
        display: flex;
        padding-top: 10px;
    }

    .main-navbar li{
        margin: 5px;
        flex-wrap: wrap;
    }
    .main-navbar a{
        padding: 3px;
    }

    .burguer-menu{
        display: none;
    }
    
    main section.productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    main section article,
    .tarjeta{
        width: 40%;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 760px){

    .main-header{
        padding: 10px;
    }

    .copy-header{
        font-size: 20px;
        padding: 10px;
    }
    .main-header-top-bar{
        justify-content: space-between;
        align-items: center;
    }
    .main-navbar{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-navbar a{
        padding: 7px;
        font-size: 15px;
    }

    section article,
    .productos{
        display: flex;
        flex-wrap: none;
        justify-content: space-between;
    }
    
    main section article,
    .tarjeta{
        max-width: 20%;
        padding: 10px;
        margin: auto;
    }
    
    .menu-footer h4{
        padding: 10px
    }

    .menu-footer p{
        font-size: 15px;
        line-height: 26px;
    }

    footer section.main-footer{
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
    }

    article.menu-footer{
        max-width: 40%;
        padding: 10px;
    }
}



